<mat-card>
  <mat-spinner diameter="70" *ngIf="estaCarregando"></mat-spinner>
  <form [formGroup]="form" (submit)="onSalvarCliente()" *ngIf="!estaCarregando">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Digite seu nome"
        name="nome"
        required
        formControlName="nome"
        minlength="3"
      />
      <mat-error *ngIf="form.get('nome').invalid">Digite um nome válido</mat-error>
    </mat-form-field>
    <div>
      <button (click)="selecionaArquivo.click()" mat-stroked-button type="button">Selecionar imagem</button>
      <input type="file" #selecionaArquivo>
    </div>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="fone"
        name="fone"
        formControlName="fone"
        required
      />
      <mat-error *ngIf="form.get('fone').invalid">Digite um telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="email"
        name="email"
        formControlName="email"
        required
      />
      <mat-error *ngIf="form.get('email').invalid">Digite um email válido</mat-error>
    </mat-form-field>

    <button color="accent" mat-raised-button>
      Salvar Cliente
    </button>
  </form>
</mat-card>
